boto==2.48.0
boto3==1.7.40
botocore==1.10.40
certifi==2018.4.16
chardet==3.0.4
click==6.7
cloudinary==1.12.0
Django==2.0.6
docutils==0.14
Flask==1.0.2
Flask-S3==0.3.2
future==0.16.0
idna==2.7
image==1.5.24
itsdangerous==0.24
Jinja2==2.10
jmespath==0.9.3
line-bot-sdk==1.5.0
MarkupSafe==1.0
mock==2.0.0
numpy==1.14.5
opencv-python==3.4.1.15
pbr==4.0.4
Pillow==5.1.0
python-dateutil==2.7.3
pytz==2018.5
requests==2.19.0
s3transfer==0.1.13
six==1.11.0
urllib3==1.23
Werkzeug==0.14.1
